{% extends "base_generic.html" %}

{% block content %}
    <h1>Recipe page</h1>

    {% if recipe %}
        <ul>
            <li>Title: {{ recipe.name }}</li>
            <li>Description: {{ recipe.description }}</li>
            <li>Created at: {{ recipe.created_at }}</li>
            <li>Category: {{ recipe.category }}</li>
        </ul>
        <button type="submit" onclick="deleteRecipe({{ recipe.id }}, '{{ auth_token }}')" class="deletebtn">Delete</button>

        {% if comments %}
            <h2>Create comment</h2>
            <h3>{{errors}}</h3>
            <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <label for="text">Text</label><br>
                {{ comment_form.text }} <br>
                <label for="recipe">Recipe</label><br>
                {{ comment_form.recipe }} <br>
                <button type="submit">create</button>
            </form>
            <br>
            <h2>Comments</h2>
            {% for comment in comments %}
                <p>{{ comment.user }}: <b>{{ comment.text }}</b></p>
                {% if comment.user == request.user %}
                    <button type="button" onclick="deleteComment({{ comment.id }}, '{{ auth_token }}')" class="deleteCombtn">delete</button>
                    <br>
                    <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <h2>No comments for the recipe. Be the first!</h2>
            <br>
            <h2>Create comment</h2>
            <h3>{{errors}}</h3>
            <form action="{% url 'comment' %}" method="POST">
                {% csrf_token %}
                <label for="text">Text</label><br>
                {{ comment_form.text }} <br>
                <label for="recipe">Recipe</label><br>
                {{ comment_form.recipe }} <br>
                <button type="submit">create</button>
            </form>
        {% endif %}
        <script>
            function deleteRecipe(id, authToken) {
              fetch('/api/recipes/' + id,  {
                headers: {
                  'Authorization': 'Token ' + authToken
                },
                method: 'DELETE'
              })

              window.location.assign("/");
            }

            function deleteComment(id, authToken) {
              fetch('/api/comments/' + id,  {
                headers: {
                  'Authorization': 'Token ' + authToken
                },
                method: 'DELETE'
              })

              window.location.reload();
            }
        </script>
    {% else %}
        <p>Recipe not found..</p>
    {% endif %}
{% endblock %}



