
{% extends "base_generic.html" %}

{% block content %}
    {% if client_data %}
        <h5>Your profile data:</h5>
        <ul>
            {% for key, value in client_data.items %}
                <li> {{key}}: {{value}} </li>
            {% endfor %}
        </ul>
        {% if client_recipes %}
            <h4>Your recipes:</h4>
            <ul>
                {% for recipe in client_recipes %}
                    <li> <a href="{% url 'recipe' %}?id={{ recipe.id }}"> {{ recipe.name }}</a> </li>
                {% endfor %}
            </ul>
        {% else %}
            <h4>You have not created any recipe yet.</h4>
        {% endif %}
        <h2>Create recipe</h2>
        <h3>{{errors}}</h3>
        <form action="{% url 'recipe' %}" method="POST">
            {% csrf_token %}
            <label for="name">Name</label><br>
            {{ form.name }} <br>
            <label for="description">Description</label><br>
            {{ form.description }} <br>
            <label for="category">Category</label><br>
            {{ form.category }} <br>
            <label for="ingredients">Ingredients</label> <br>
            {{ form.ingredients }} <br>
            <button type="submit"> click</button>
        </form>

    {% else %}
        <p>No client data to show..</p>
    {% endif %}
{% endblock %}
